
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<p>Hello there!</p>
<p>
    To jest strona główna podejrzanych testów .Net Core 2.0. Docelowo będzie to prosta aplikacja MVC postawiona na API. Z tego samego API ma korzystać stronka SPA zrobiona np. w React
</p>
<p>
    W tej chwili mamy:
    <ul>
        <li>Repo gita na https://github.com/JKobe13/Fishy </li>
        <li>Hosting na rasspbery pi</li>
            <ul>
                <li>Web App .Net MVC http://jkobe.asuscomm.com/fishy/</li>
                <li>Web API http://jkobe.asuscomm.com/fishyapi/</li>
            </ul>
        <li>Kilka pomysłów</li>
        <li>Jakieś tam chęci</li>
    </ul>
</p>



